.wraper{
    border: 2px solid black;
    padding: 100px;
    margin-bottom: 0;
}

#dealer {
    display: grid; 
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-items: flex-end;
}

.players{
    display: grid; 
    grid-template-columns: 3;
    grid-row: 1;
    padding:100px 100px 100px 0px 100px;
    margin: 0 auto;
    gap: 10px;
    align-items: flex-end;
}

.divGr{
    padding: 10px 10px 10px 10px;
}

#playerOne{
    border: 2px solid black;
   
    margin: o auto;
    grid-column: 1;
    grid-row: 4 ;
    
}
.grid{
    display: grid; 
    padding:100px 100px 100px 0px 100px;
    grid-template-columns: 1;
    grid-template-rows: 4;
    /* justify-content: center; */
    gap: 10px;
    /* align-content: baseline; */
}
.buttonPlayer{
    grid-column: 1 / 8;
    grid-row: 2;
    
}
.buttHit{
    grid-column: 4 ;
    grid-row: 1;
}
.buttStay{
    grid-column: 5 ;
    grid-row: 1;
}
.buttDuble{
    grid-column: 6;
    grid-row: 1;
}
.buttSplit{
    grid-column: 7 ;
    grid-row: 1;
}
.divCardsOne{
    border: 2px solid black;
    grid-column: 1 ;
    grid-row: 1;
}
.divCardsTwo{
    border: 2px solid black; 
    grid-column: 2;
    grid-row:1;
}
.divCardsTree{
    border: 2px solid black;
    grid-column: 3;
    grid-row: 1;
}
.divCardsFour{
    border: 2px solid black;
    grid-column: 4;
    grid-row: 1;
}
.divCardsFive{
    border: 2px solid black;
    grid-column: 5;
    grid-row: 1;
}
.divCardsSix{
    border: 2px solid black;
    grid-column: 6;
    grid-row: 1;
}
.divCardsSeven{
    border: 2px solid black;
    grid-column: 7;
    grid-row: 1;
}
.divCardsEight{
    border: 2px solid black;
    grid-column: 8;
    grid-row: 1;
}
/* #playerOne > div{
    display: grid; 
    grid-template-columns: 8;
    grid-row: 3;
    gap: 10px;
    align-items: flex-end;
} */

#playerTwo{
    border: 2px solid black;
    grid-column: 2;
    grid-row: 4;
}

#playerTree{
    border: 2px solid black;
    grid-column: 3;
    grid-row: 4;
}

.cards{
    border: 2px solid black;
    padding: 12px 12px 12px 12px;
    max-width: 20px;
    max-width: 20px 
}